h1 {
    color: #000000;
    /* border-color: purple;
    border-width: 5px;
    border-style: solid; */

    border: 5px dashed purple;
}

li {
    color: blue
}

h4 {

    background: rgb(255, 100, 80);
    color: blue;
}

/* body {
    background: url(https://wallpapercave.com/wp/Ewa7K29.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} */

body {
    background: pink;
}

p {
    font-size: 40px;
    font-weight: bold;
    line-height: 2;
    text-decoration: underline;
}

h4 {
    font-family: Georgia;
    font-size: 20px;
    text-align: center;
}

span {
    font-size: 2.0em;
}